.container{
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}


/* section1 */


.logo{
    /* padding-left: 30px; */
    width: 70%;
}
.logo1{
    width: 50%;
}
.l_img{
    width: 25%;
    padding-top: 1%;
    display: flex;
    margin-left: 30px;
}
.rrr{
    z-index: 1;
}
.res{
    display: flex;
    justify-content: end;
    width: 100%;
}
.fnav{
    background-color: #083358;
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0;
   }

   .topnav{
       display: none;
   }
body{
    padding: 0px;
    margin: 0px;
}
.section1{
    background-image:linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url(/image/hand.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box1{
    padding-top: 13%;
    color: #FFFFFF;
     padding-bottom: 20%;
}
.h{
    font-weight: bold;
    font-size: 50px;
    display: flex;
    margin: 0px;
    padding-top: 6px;
   
}   
.box2{
    display: flex;
    justify-content: end;
     width: 100%;
      z-index: 1;
}
ul{
    width: 100%;
    margin: 4px;
    color: #FFFFFF;
    display: flex;
   
}
li{
  list-style: none;
  padding: 20px;
}
.nav-link{
    font-size: 13px;
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 20px;
}
.nav-link::after {
    content: '';
    display: block;
    width: 0px;
    height: 3px;
    background:  #49BB91;
    transition: width .2s; 
}
.nav-link:hover::after {
    width: 100%;
    transition: width .6s; 
}
.nav-link:hover {
color: #49BB91;
}


/* section2 */


.section2{
    padding-top: 10%;
    margin-bottom: 10%;
}
.boox{
    color: #083358;
    text-align: center;
}
 

/* section3 */


.section3{
background-color: #EAF0F5;
height: auto;
padding-bottom: 150px;
overflow: hidden;
}
.boox2{
    padding-top: 12%;
    margin-left: 10%;
    width: 90%;
    height: 350px;
}


/* section4 */


.box6{
    color: #083358;
    display: flex;
    overflow: hidden;
}
.box7{
       width: 40%;
    overflow: hidden;
}
.hhh1{
    margin: 0px;
    color: #EAF0F5;
}
.img3{
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    display: inline-block; 
    object-fit: cover;   
}
.box7 .img3{
    transition: transform 0.5s linear;
}
.box7:hover .img3{
    transform: scale(1.2);
}

.box8{
    width: 60%;
    background-color: #083358;
    padding: 80px;
}
.pl{
    color: #EAF0F5;
    margin-top: 30px;
}
.btnn{
    font-size: 10px;
    width: 130px;
    height: 50px;
    margin-top: 10px;
    transition: 0.3s ease-in-out;
    background: #083358; 
    background-size: 201%;
    border: 1px solid #FFFFFF;
    color: #EAF0F5;
    cursor: pointer;
}
.btnn:hover{
    background-position: left;
    background-color: #49BB91; 
}


/* section5 */


.spam5{
    font-size: 80px;
    color: #083358;
}
.box12{
    background-color: #FFFFFF;
}
.box13{
    padding-top: 5%;
    margin-left: 5%;
}
.box14{
    text-align: center;
}
.spam6{
    font-size: 80px;
    color: #083358;
}
.box15{
    display: flex;
    justify-content: end;
    padding-top: 10px;
}
.p7{
    margin: 0px;
    color: #083358;
}
.box16{
    display: flex;
    justify-content: center;
}
.img2{
    width: 70px;
    border-radius: 50%;
    height: 70px;
    object-fit: cover;
}
.box17{
  padding: 3%;
}
.spam7{
    color: #083358;
    font-size: 20px;
    font-weight: bold;
}
.spam8{
    color: #49BB91;
    font-size: 20px;
    font-weight: bold;
}


/* section6 */


.box10{
    color: #083358;
    margin-left: 30px; 
    display: flex;
    overflow: hidden;
}
.box11{
    width: 100%;
    overflow: hidden;
}
.h3{
    margin: 0px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 30px;
   
}
.img5{
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    display: inline-block; 
    object-fit: cover;   
}
.box11 .img5{
    transition: transform 0.5s linear;
}
.box11:hover .img5{
    transform: scale(1.2);
}

.third-side_box{
    width: 100%;
    background-color: #49BB91;
    padding: 80px;
}
.p6{
    color: #FFFFFF;
    font-size: 15px;
}


/* section7 */


.section7{
    background-color: #EAF0F5;
    padding: 3%;
    overflow: hidden;
}
.box19{
    display: flex;
    flex-direction: column; 
    padding-left: 10%;
    padding-top: 4%;
}
.h4{
    color: #083358;
    font-weight: bold;
    font-size: 30px;
}
.spam9{
    color: #49BB91;
    font-weight: bold;
    font-size: 30px;
}
.spam10{
    color: #083358;
    font-weight: bold;
}

.phone1{
    color: #083358;
    text-decoration: none;
  }
  .phone1:hover{
    color: #49BB91;
  }
.box20{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-top: 9%;
}
.box18{
    display: flex;
    overflow: hidden;
}
.a1{
    text-decoration: none;
}
.a1:hover{
    color: #49bb91;
  }

/* section8 */


.section8{
    background-color: #083358;
    color: #EAF0F5;
    padding: 1.5%;
}
.box21{
    display: flex;
    font-size: 16px;
}
.spam11{
    color: #EAF0F5;
    padding-left: 7%;
}
.bb{
    text-decoration: none;
    color: #eaf0f5;
  }
  .bb:hover{
    color: #49bb91;
  }
.spam12{
    color: #EAF0F5;
    padding-left: 42%;
}



/* media sqery */



@media(max-width:768px){
    .logo{
        width: 100%;
    }
    .logo1{
        padding-bottom: 20px;
    }
    .logoo{
        margin-top: 10px;
        width: 20%;
        padding-left: 70%;
    }
    .img_contain{
        font-size: 25px !important;
        padding-top: 15%;
    }
    .heading{
        font-size: 15px;
        width: 90%;
    }
    .scon{
        font-size: 8px;
        width: 80%;
        padding-top: 30px; 
    }
    li{
        padding: 5px;
    }
    .nav-link{
        margin-right: 10px;
        padding: 0px;
        width: 100%;
    }
    .box2{
        width: 100%;
        font-size: 10px;
        padding: 0px;
       
    }
    .h{
        width: 100%;
        font-size: 25px;
    }
    .boox{
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .boox2{
        width: 100%;
        margin: 10px;
       height: auto;
       padding-top: 60px;
    }
    .section3{
        padding-bottom: 60px;
    }
    .box6{
        display: flex;
        flex-direction: column-reverse;
    }
    .box7{
        width: 100%;
    }
    .hhh1{
        font-size: 15px;
        width: 90%;
        padding-left: 20px;
        padding-top: 25px;
    }
    .pl{
        font-size: 10px;
         width: 90%;
         padding-left: 20px;
 }
    .box8{
        width: 100%;
        padding: 0px;
        padding-bottom: 40px;
    }
    .btnn{
        margin-left: 20px;
    }
    .box12{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .spam5{
        font-size: 30px;
    }
    .p7{
        font-size: 10px;
    }
    .spam6{
        font-size: 30px;
    }
    .img2{
        width: 16%;
        border-radius: 50%;
        height: 50px;
    }
    .spam7{
        font-size: 15px;
    }
    .spam8{
        font-size: 15px;
    }
    .box10{
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding-top: 25px;
        width: 100%;
       
    }
    .img5{
        width: 100%;
    }
.h3{
    font-size: 15px;
    padding-left: 20px;
}
.p6{
    font-size: 10px;
    padding-left: 20px;
    width: 90%;
}
.third-side_box{
    padding: 0px;
   padding-top: 30px;
   padding-bottom: 20px;
}
.box18{
    display: flex;
    flex-direction: column;
}
.h4{
    font-size: 20px;
}
.spam9{
    font-size: 20px;
}
.spam10{
    font-size: 12px;
}
.box20{
    padding-bottom: 30px;
    }
    .box21{
        width: 100%;
        font-size: 6px;
        padding: 10px;
    }
    .spam11{
        width: 100%;
        padding: 0px;
        margin-left: 10px;
    }
    .spam12{
        padding: 0px;
        width: 100%;
    }
}



@media(max-width:427px){
    .rrr{
        position: fixed; 
        width: 100%;
    }
    .topnav {

        display: block;
       overflow: hidden;
       background-color: #083358;
       position: relative;
       width: 100%;
     }
     
     .topnav #myLinks {
       display: none;
       width: 100%;
     }
     .topnav .active {
       color: white;
       text-decoration: none;
       font-size: 10px;
       display: inline-block;
     }
     .topnav .icon{
         color: white;
         display: inline-block;
         
     }
     .topnav .menus{
         color: white;
         padding: 14px 16px;
       text-decoration: none;
       font-size: 10px;
       display: block;
     }
     .navbar{
        display: none;
        
     }
     .box2{
        display: none;
     }
    }





    @media(min-width:769px) and (max-width:1230px){
        
        ul{   
            margin: 4px;
            color: #FFFFFF;
        }
        
        li{
            list-style: none;
            padding: 10px;
          }
            }





            
    @media (max-width: 769px) {
        .box7{
          display: flex;
        }
        .box11{
            display: flex;
          }
      }