body{
    background: transparent linear-gradient(135deg, #073481 0%, #292E89 0%, #77209B 100%) 0% 0% no-repeat padding-box;
    height: 555px;
}
.logo{
    width: 8%;
    height: auto;
    padding-top: 30px;
    margin-left: 50px;
}
.login{
    display: flex;
    justify-content: space-around;
}
.main_div{
    display: flex;
    justify-content: center;
}
.form_div{
    background-color: white;
    width: 25%; 
    border-radius: 3px;  
    border-top-right-radius: 8px;  
    border-bottom-right-radius: 8px;
}
.h3{
    color: #073481;
    margin-left: 90px;
    font-size: 20px;
}
.p3{
    color: #2A2946;
    margin-left: 22px;
    font-size: 13px;
    text-align: center;
    width: 80%;
}
.input_div{
   
    padding-bottom: 20px;
}
.btn2{
    cursor: pointer;
    margin-top: 10px;
    border-radius: 3px;
    background-color: #073481;
    color: white;
    width: 100px;
    height: 30px;
    border: 1px solid #073481;
 }
.button{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 5px;
}