body{
    background: transparent linear-gradient(135deg, #073481 0%, #292E89 55%, #77209B 100%) 0% 0% no-repeat padding-box;
    height: 555px;
}
.logo{
    width: 8%;
    height: auto;
    padding-top: 30px;
    margin-left: 50px;
}
.main_div{
    display: flex;
    justify-content: center;
}
.form_div{
    background-color: white;
    width: 40%; 
    text-align: center;
   display: flex;
   justify-content: center;
   padding: 20px;
   margin-top: 100px;
   border-radius: 10px;
}
h1{
    color: #073481;
}
p{
    color: #010A1A;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 60%;
    margin-left: 100px;
}
.input_div{
    width: 100%;
}
.btn{
    background-color: #073481;
    color: white;
    border-radius: 4px;
    width: 20%;
    height: 30px;
    border: 1px solid #073481;
    cursor: pointer;
}


/* responsive */


@media(max-width:987px) and (min-width:500px){

p{
    width: 60%;
    margin-left: 50px;
    font-size: 13px;
}
.btn{
    width: 30%;
    height: 30px;
}
}


@media(max-width:500px) and (min-width:300px){

    p{
        width: 90%;
        margin-left: 15px;
        font-size: 10px;
    }
    .btn{
        width: 45%;
        height: 30px;
    }
    h1{
        font-size: 15px;
    }
    }